@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap");
EFheader-month {
  margin-top: 20px;
  display: block;
  text-align: center; }
  EFheader-month div {
    background-color: #cfd8dc;
    opacity: 0.5;
    display: inline-block;
    width: 12vw;
    height: 12vw;
    margin: 1vw;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    position: relative;
    cursor: pointer; }
    EFheader-month div::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0;
      border-radius: 5px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
      transition: opacity 0.3s ease-in-out; }
    EFheader-month div:hover::after {
      opacity: 1; }
    @media (min-width: 768px) and (max-width: 1023px) {
      EFheader-month div {
        width: 7vw;
        height: 7vw; } }
    @media (min-width: 1024px) {
      EFheader-month div {
        width: 3vw;
        height: 3vw;
        margin: 0.5vw; } }
    EFheader-month div span {
      font-family: "Reenie Beanie", cursive;
      font-size: 1.4em;
      position: relative;
      top: 15%; }
      @media (min-width: 768px) and (max-width: 1023px) {
        EFheader-month div span {
          font-size: 1.6em;
          top: 20%; } }
      @media (min-width: 1024px) {
        EFheader-month div span {
          font-size: 1.6em; } }
