//blue
$blue-main: #2196f3;
$blue50: #e3f2fd;
$blue100: #bbdefb;
$blue200: #90caf9;
$blue300: #64b5f6;
$blue400: #42a5f5;

//pink
$pick50: #fce4ec;
$pink100: #f8bbd0;
$pink200: #f48fb1;
$pink300: #f06292;
$pink400: #ec407a;
$pink-main: #e91e63;

