.Home .Home_containerBackground {
  background-color: #d7e1e5;
  width: 700px;
  margin: 300px 15px;
  padding: 0; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .Home .Home_containerBackground {
      width: 80vw;
      margin: 300px auto 50px; } }
  @media (min-width: 1024px) {
    .Home .Home_containerBackground {
      width: 60vw;
      margin: 300px auto 50px; } }
  .Home .Home_containerBackground .grid-container {
    padding: 0;
    display: grid;
    width: 100%;
    grid-gap: 3px;
    justify-content: center;
    grid-template-columns: 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5%; }
    .Home .Home_containerBackground .grid-container .grid-item {
      background-color: white;
      text-align: center; }
      .Home .Home_containerBackground .grid-container .grid-item .daysIndicator {
        padding: 14px;
        border-bottom: 3px solid #d7e1e5; }
      .Home .Home_containerBackground .grid-container .grid-item .grid-item-custom {
        padding: 25px;
        cursor: pointer;
        border-bottom: 3px solid #d7e1e5; }
