@import "../../../../sass/_mixin.scss";

.PixelHeader{
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
    width: 100%;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    z-index: 1100;
    pixelHeader-info{
        position: relative;
        top:-50px;
        left:-10vw;
        span{
            color:white;
            font-weight: bold;
            font-size: 1.8em;
            margin:0 10px;
        }
    }
    button{
        position:relative;
        top:-55px;
        right: -10vw;
        @include regular-button;
    }
}