.PixelHeader {
  width: 100%;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  z-index: 1100; }
  .PixelHeader .AppBar_tool {
    display: flex;
    justify-content: space-evenly; }
    @media (max-width: 601px) {
      .PixelHeader .AppBar_tool {
        justify-content: space-around; } }
  .PixelHeader pixelHeader-info span {
    color: white;
    font-weight: bold;
    margin: 0 1.5vw;
    font-size: 1.25em; }
    @media (min-width: 601px) and (max-width: 767px) {
      .PixelHeader pixelHeader-info span {
        font-size: 1.8em; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .PixelHeader pixelHeader-info span {
        font-size: 2em; } }
    @media (min-width: 1024px) {
      .PixelHeader pixelHeader-info span {
        font-size: 2.2em; } }
  .PixelHeader button {
    font-size: 1em;
    min-height: 10px;
    min-width: 50px !important; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .PixelHeader button {
        font-size: 1.2em; } }
    @media (min-width: 1024px) {
      .PixelHeader button {
        font-size: 1.4em;
        margin-right: 5px; } }
