.PixelHeader {
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
  width: 100%;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  z-index: 1100; }
  .PixelHeader pixelHeader-info {
    position: relative;
    top: -50px;
    left: -10vw; }
    .PixelHeader pixelHeader-info span {
      color: white;
      font-weight: bold;
      font-size: 1.8em;
      margin: 0 10px; }
  .PixelHeader button {
    position: relative;
    top: -55px;
    right: -10vw;
    color: rgba(0, 0, 0, 0.87);
    margin: 8px;
    border: 0;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    background-color: transparent;
    min-height: 36px;
    box-sizing: border-box;
    line-height: 1.4em;
    font-weight: 500;
    border-radius: 4px;
    text-transform: uppercase;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; }
    .PixelHeader button:hover {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.08); }
