@import "../../../../sass/_mixin.scss";
@import "../../../../sass/_media.scss";
@import "../../../../sass/_var.scss";

.FeedHeader {
  margin-top: 80px;
  width: 100vw;
  .FH_form {
    display: block;
    margin: 10px 0 30px 40px;
    label {
      font-size: 1.7em;
    }
  }
  feedheader-color {
    display: block;
    text-align: center;
    div {
      opacity: 0.5;
      display: inline-block;
      width: 7.5vw;
      height: 7.5vw;
      margin: 1vw;
      @include boxshadow-hover-effect;

      @include tablet {
        width: 6vw;
        height: 6vw;
      }
      @include desktop {
        width: 4.5vw;
        height: 4.5vw;
      }
    }
  }
  feedheader-month {
    display: block;
    text-align: center;
    div {
      background-color: #cfd8dc;
      opacity: 0.5;
      display: inline-block;
      width: 13vw;
      height: 13vw;
      margin: 1vw;
      @include boxshadow-hover-effect;

      @include tablet {
        width: 5.5vw;
        margin:0.5vw;
        height: 5.5vw;
      }
      @include desktop {
        width: 3vw;
        height: 3vw;
        margin: 0.5vw;
      }
      span {
        font-family: $hand-writing;
        font-size: 1.6em;
        position: relative;
        top: 15%;
        @include tablet {
          font-size: 1.6em;
          top: 15%;
        }
        @include desktop {
          font-size: 1.6em;
        }
      }
    }
  }
}
