@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap");
.FeedHeader {
  width: 100vw; }
  .FeedHeader .FH_form {
    display: block;
    margin: 10px 20px 0; }
    .FeedHeader .FH_form label {
      font-size: 1.2em; }
    .FeedHeader .FH_form .selection {
      font-size: 1em; }
  .FeedHeader feedheader-color {
    display: block;
    text-align: center; }
    .FeedHeader feedheader-color div {
      opacity: 0.5;
      display: inline-block;
      width: 7.5vw;
      height: 7.5vw;
      margin: 1vw;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11);
      border-radius: 5px;
      position: relative;
      cursor: pointer; }
      .FeedHeader feedheader-color div::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        border-radius: 5px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s ease-in-out; }
      .FeedHeader feedheader-color div:hover::after {
        opacity: 1; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .FeedHeader feedheader-color div {
          width: 6vw;
          height: 6vw; } }
      @media (min-width: 1024px) {
        .FeedHeader feedheader-color div {
          width: 4.5vw;
          height: 4.5vw; } }
  .FeedHeader feedheader-month {
    display: block;
    text-align: center; }
    .FeedHeader feedheader-month div {
      background-color: #cfd8dc;
      opacity: 0.5;
      display: inline-block;
      width: 13vw;
      height: 13vw;
      margin: 1vw;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11);
      border-radius: 5px;
      position: relative;
      cursor: pointer; }
      .FeedHeader feedheader-month div::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        border-radius: 5px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s ease-in-out; }
      .FeedHeader feedheader-month div:hover::after {
        opacity: 1; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .FeedHeader feedheader-month div {
          width: 5.5vw;
          margin: 0.5vw;
          height: 5.5vw; } }
      @media (min-width: 1024px) {
        .FeedHeader feedheader-month div {
          width: 3vw;
          height: 3vw;
          margin: 0.5vw; } }
      .FeedHeader feedheader-month div span {
        font-family: "Reenie Beanie", cursive;
        font-size: 1.6em;
        position: relative;
        top: 15%; }
        @media (min-width: 768px) and (max-width: 1023px) {
          .FeedHeader feedheader-month div span {
            font-size: 1.6em;
            top: 15%; } }
        @media (min-width: 1024px) {
          .FeedHeader feedheader-month div span {
            font-size: 1.6em; } }
