@import "../../../sass/_media.scss";

.Pixel {
    .Pixel_img {
      margin: 80px auto 20px;
      width: 100%;
       @include tablet {
           width: 80vw;
        }
        @include desktop {
            width: 60vw;
        }
        img{
          width: 100%;
        }
    }
  pixel-bottom {
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin: 20px auto 100px;
    @include tablet {
      width: 80vw;
      flex-direction: row;
    }
    @include desktop {
      width: 60vw;
      flex-direction: row;
    }
   
    .Pixel_text {
     padding:20px;
      margin: 20px auto;
      overflow-y:scroll; 
      width: 85vw;
      @include tablet {
        width: 60%;
      }
      @include desktop {
        width: 60%;
      }
    }
  }
}
