@import "../../../sass/_media.scss";
@import "../../../sass/_var.scss";

.Pixel {
  .Pixel_img {
    margin: 80px auto 40px;
    width: 100%;
    @include tablet {
      width: 80vw;
    }
    @include desktop {
      width: 60vw;
    }
    img {
      width: 100%;
    }
  }
  .Pixel_editBtn{
    margin: 20px auto 50px;
    display: block;
  }
  pixel-bottom {
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin: 20px auto;
    @include tablet {
      width: 80vw;
      flex-direction: row;
    }
    @include desktop {
      width: 60vw;
      flex-direction: row;
    }

    .Pixel_text {
      font-family: $hand-writing;
      padding: 40px;
      margin: 20px auto;
      overflow-y: scroll;
      width: 85vw;
      @include tablet {
        width: 60%;
      }
      @include desktop {
        width: 60%;
      }
    }
  }
}
