@import "../../../sass/_media.scss";
.Quote {
    margin-top:50px;
  width: 100vw;
  text-align: center;

  quote-addPanel {
    margin-left:40px;
    width:90%;
    button{
        margin-left:45px; 
    }
    @include tablet{
        margin-left:0;
        button{
            margin-left:0; 
        }
    }
    @include desktop {
        margin-left:0;
        button{
            margin-left:0; 
        }  
  }
    h3 {
      display: inline-table;
      white-space: pre-wrap;
    }
  }
}
