@import "../../../sass/_media.scss";
.Quote{  
    width: 100%;
    margin-top:50px;
   position: relative;
   quote-addPanel{
       text-align: center;
       h3{
         display: inline-table;
         white-space: pre-wrap;
       }
    position: -webkit-sticky;
    position: sticky;
    left:50%;
        @include tablet{
        }
        @include desktop{
        }
    }
}