.GraphHeader {
  width: 90vw;
  margin: 100px auto 5px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .GraphHeader {
      width: 70vw; } }
  @media (min-width: 1024px) {
    .GraphHeader {
      width: 60vw; } }
  .GraphHeader .GH_form {
    display: block;
    margin: 30px 0 30px 10px; }
    .GraphHeader .GH_form label {
      font-size: 1.7em; }
  .GraphHeader graphHeader-month {
    display: block;
    margin: 0 auto;
    text-align: center; }
    .GraphHeader graphHeader-month div {
      background-color: #cfd8dc;
      opacity: 0.5;
      display: inline-block;
      width: 12vw;
      height: 12vw;
      margin: 1vw;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      position: relative;
      cursor: pointer; }
      .GraphHeader graphHeader-month div::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        border-radius: 5px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s ease-in-out; }
      .GraphHeader graphHeader-month div:hover::after {
        opacity: 1; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .GraphHeader graphHeader-month div {
          width: 6vw;
          height: 6vw; } }
      @media (min-width: 1024px) {
        .GraphHeader graphHeader-month div {
          width: 4vw;
          height: 4vw;
          margin: 0.5vw; } }
      .GraphHeader graphHeader-month div span {
        display: block;
        font-size: 1.4em;
        position: relative;
        top: 10%; }
        @media (min-width: 768px) and (max-width: 1023px) {
          .GraphHeader graphHeader-month div span {
            margin-top: 5px;
            font-size: 1.5em;
            top: 8%; } }
        @media (min-width: 1024px) {
          .GraphHeader graphHeader-month div span {
            margin-top: 5px;
            font-size: 1.8em; } }
