.GraphHeader {
  text-align: left; }
  .GraphHeader h1 {
    font-size: 1em;
    margin: 0;
    margin-bottom: 2px; }
  .GraphHeader hr {
    margin: 0;
    height: 1px;
    border: none;
    background-color: lightgrey;
    width: 50%; }
  .GraphHeader .GH_form {
    margin: 20px;
    display: block; }
    .GraphHeader .GH_form label {
      font-size: 1.2em; }
    .GraphHeader .GH_form .selection {
      font-size: 0.75rem; }
  .GraphHeader graphHeader-month {
    display: block;
    margin: 0 auto;
    text-align: center; }
    .GraphHeader graphHeader-month div {
      background-color: #cfd8dc;
      opacity: 0.5;
      display: inline-block;
      width: 12%;
      height: 12%;
      margin: 1%;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11);
      border-radius: 5px;
      position: relative;
      cursor: pointer; }
      .GraphHeader graphHeader-month div::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        border-radius: 5px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s ease-in-out; }
      .GraphHeader graphHeader-month div:hover::after {
        opacity: 1; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .GraphHeader graphHeader-month div {
          width: 6%;
          height: 6%; } }
      @media (min-width: 1024px) {
        .GraphHeader graphHeader-month div {
          width: 4%;
          height: 4%;
          margin: 0.5%; } }
      .GraphHeader graphHeader-month div span {
        display: block;
        font-size: 1.4em;
        position: relative;
        top: 10%; }
        @media (min-width: 768px) and (max-width: 1023px) {
          .GraphHeader graphHeader-month div span {
            margin-top: 5px;
            font-size: 1.5em;
            top: 8%; } }
        @media (min-width: 1024px) {
          .GraphHeader graphHeader-month div span {
            margin-top: 5px;
            font-size: 1.8em; } }
