.GraphHeader {
  width: 100vw; }
  .GraphHeader .GH_form {
    display: block;
    margin: 30px 0 30px 30px; }
    .GraphHeader .GH_form label {
      font-size: 1.7em; }
  .GraphHeader graphHeader-month {
    display: block;
    text-align: center; }
    .GraphHeader graphHeader-month div {
      background-color: #CFD8DC;
      opacity: 0.5;
      display: inline-block;
      width: 13vw;
      height: 13vw;
      margin: 1vw;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      position: relative;
      cursor: pointer; }
      .GraphHeader graphHeader-month div::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        border-radius: 5px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s ease-in-out; }
      .GraphHeader graphHeader-month div:hover::after {
        opacity: 1; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .GraphHeader graphHeader-month div {
          width: 9vw;
          height: 9vw; } }
      @media (min-width: 1024px) {
        .GraphHeader graphHeader-month div {
          width: 6vw;
          height: 6vw; } }
      .GraphHeader graphHeader-month div span {
        display: none; }
        @media (min-width: 400px) and (max-width: 767px) {
          .GraphHeader graphHeader-month div span {
            font-size: 1.3em;
            display: block; } }
        @media (min-width: 768px) and (max-width: 1023px) {
          .GraphHeader graphHeader-month div span {
            font-size: 1.3em;
            display: block; } }
        @media (min-width: 1024px) {
          .GraphHeader graphHeader-month div span {
            display: block;
            font-size: 1.8em; } }
