.LineGraph {
  width: 95vw;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .LineGraph {
      width: 70vw; } }
  @media (min-width: 1024px) {
    .LineGraph {
      width: 60vw; } }
