@import "../../../sass/_media.scss";

.Todo{
    width: 85vw;
    margin: 20px auto;
    padding:50px;
    @include tablet{
      width:80vw;
      padding:50px 80px;
    }
    @include desktop{
     width: 60vw;
     padding:50px 100px;
    }
    todo-add{
      display: flex;
      flex-direction: row;
      i{
        font-size: 2em;
        margin:15px;
     }
    .Todo_input{
     width:80%;
     margin:5px; 
      font-size: 2em;
    }
  }
}