@import "../../../sass/_media.scss";

.Todo{
    width: 85vw;
    margin: 20px auto;
    padding:50px 100px;
    @include tablet{
      width:80vw;

    }
    @include desktop{
     width: 60vw;
    }
}