@import "../../../../sass/_media.scss";

.EditQuote{
    text-align: right;
    width: 85vw;
    margin:0 auto;
    padding: 50px 30px;
    @include tablet{
        width: 60vw;
        padding: 100px 50px;
    }
    @include desktop{
        width: 40vw;
        padding: 100px 80px;
    }
    form{
        .EditQuote_author{
            margin:30px 0 50px;
            input{
                margin-left: 10px;
            }
        }
    button{
        margin: 5px;
    }
}
}