@import "../../../../../sass/_media.scss";

.ImgAdder {
  @include mobile {
    padding: 18% 0 14%;
  }
  @include medium {
    width: 70%;
    padding: 14% 0;
  }
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 38%;
    padding: 12% 0;
  }
  width: 80%;
  margin: 0 auto;
  search-results {
    .ImgAdder_showSearch {
      .ImgAdder_stepper {
      }
      .ImgAdder_search-results {
        height: 80vh;
        overflow: scroll;
      }
    }
  }
  h1,
  p {
    color: #2b2b32;
    text-align: center;
  }
  h1 {
    margin: 0;
    @include tablet {
      font-size: 2em;
    }
  }
  p {
    margin-top: 0;
    letter-spacing: -0.5px;
    color: darkgray;
  }
  imgadder_btns {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    .ImgAdder_button {
      padding: 15px 50px;
      margin: 5px 7px 0 7px;
    }
  }
  .ImgAdder_search {
    display: block;
    width: 80%;
    margin: 10px auto 30px;
  }
  img {
    width: 100%;
    display: block;
    margin: 10px auto;
  }
}
hr {
  border: none;
  border-top: 1px dotted #3b7fc7;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 90%;
}
