.EditHeader {
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
  width: 100vw;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  z-index: 1100; }
  .EditHeader editHeader-info {
    position: relative;
    top: -45px;
    left: 5vw; }
    @media (min-width: 374px) and (max-width: 450px) {
      .EditHeader editHeader-info {
        left: 7vw; } }
    @media (min-width: 451px) and (max-width: 767px) {
      .EditHeader editHeader-info {
        left: 15vw; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .EditHeader editHeader-info {
        left: 18vw;
        top: -50px; } }
    @media (min-width: 1024px) {
      .EditHeader editHeader-info {
        left: 17vw;
        top: -55px; } }
    .EditHeader editHeader-info .EditHeader_hex {
      text-transform: uppercase; }
    .EditHeader editHeader-info span {
      color: white;
      font-weight: bold;
      margin: 0 1.5vw;
      font-size: 1.2em; }
      @media (min-width: 374px) and (max-width: 450px) {
        .EditHeader editHeader-info span {
          font-size: 1.4em; } }
      @media (min-width: 451px) and (max-width: 767px) {
        .EditHeader editHeader-info span {
          font-size: 1.7em; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .EditHeader editHeader-info span {
          font-size: 2em; } }
      @media (min-width: 1024px) {
        .EditHeader editHeader-info span {
          font-size: 2.2em; } }
  .EditHeader editheader-actions {
    position: relative;
    top: -45px;
    left: 8vw;
    font-size: 0.8em; }
    @media (min-width: 374px) and (max-width: 450px) {
      .EditHeader editheader-actions {
        left: 10vw;
        font-size: 1em; } }
    @media (min-width: 451px) and (max-width: 767px) {
      .EditHeader editheader-actions {
        top: -50px;
        left: 20vw; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .EditHeader editheader-actions {
        left: 25vw;
        top: -58px; } }
    @media (min-width: 1024px) {
      .EditHeader editheader-actions {
        left: 35vw;
        top: -62px; } }
    .EditHeader editheader-actions button {
      min-height: 10px;
      min-width: 50px !important;
      padding: 5px;
      margin: 1px;
      font-size: 0.8em; }
      @media (min-width: 451px) and (max-width: 767px) {
        .EditHeader editheader-actions button {
          font-size: 1em;
          padding: 8px 16px; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .EditHeader editheader-actions button {
          font-size: 1.2em;
          padding: 8px 16px; } }
      @media (min-width: 1024px) {
        .EditHeader editheader-actions button {
          font-size: 1.4em;
          padding: 8px 16px;
          margin-right: 5px; } }
