@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap");
.EditEvent {
  background-color: #f4f4f5;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 15px; }

.EditEvent > div {
  margin: 0; }

.EditEvent .EditEvent_title {
  font-size: 1.25em;
  margin-bottom: 15px; }
  @media (min-width: 1024px) {
    .EditEvent .EditEvent_title {
      font-size: 2em; } }

.EditEvent editevnet-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px; }
