.EditEvent{
    display: flex;
    flex-direction: column;
}
.EditEvent > div{
    margin-bottom: 20px;
}
.EditEvent .EditEvent_title{
    font-size:2em;
}
editevent-btn{
    display: flex;
    flex-direction: row;
}
editevnet-btn > button {
    margin-right: 15px !important;
}