@import "../../../sass/_var.scss";
@import "../../../sass/_media.scss";
@import "../../../sass/_mixin.scss";
.Feed {
  display: flex;
  flex-wrap: wrap;
  margin: 64px auto 0;

  @include tablet {
    width: 80vw;
  }
  @include desktop {
    width: 60vw;
  }
  .Feed_card {
    width: 90%;
    margin: 20px auto 0;
    @include tablet {
      width: 48%;
    }
    @include desktop {
      width: 48%;
    }
    .Feed_header {
      span {
        color: black;
      }

      span:first-child {
        font-size: 1.8em;
        font-weight: bold;
      }
      .Feed_action {
        .Feed_btn {
          position: relative;
          @include tablet {
          }
          button {
            span {
              font-size: 1.1em;
              font-family: "Open Sans", sans-serif;
              font-weight: lighter;
            }
          }
          .Feed_btn-delete {
            span {
              color: red;
            }
          }
        }
        .Feed_btn_hide {
          display: none;
        }
      }
    }
    .Feed_content {
      font-family: $hand-writing;
      white-space: pre-wrap;
      margin: 0 10px;
      font-size: 1.6em;
      h1 {
        font-size: 1.5em;
        margin: 0;
        font-weight: lighter;
      }
    }
  }
  feed-footer {
    height: 65px;
    position: relative;
    bottom: 0;
    width: 100vw;
    display: block;
  }
  feed-nopixel {
    text-align: center;
    margin: 150px auto;
    font-size: 1em;
  }
}
