@import "../../../sass/_media.scss";
@import "../../../sass/mixin";
@import "../../../sass/var";
.Graph {
  padding: 20px 30px;
  margin: 10px $margin_mobile $margin_mobile;
  @include medium {
    margin: $margin_desktop $margin_desktop 0 $margin_tablet;
  }
  @include tablet {
    margin: $margin_desktop 0 0 $margin_tablet;
  }
  @include desktop {
    margin: 40px 0 0 $margin_desktop;
  }
  @include boxshadow-lightGrey;
  graph-body {
    display: block;
    margin: 0 auto;
    @include tablet {
    }
    @include desktop {
    }
  }
}
