@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap");
.Graph {
  padding: 20px 30px;
  margin: 10px 3px 3px;
  box-shadow: 0 1px 1px rgba(128, 128, 128, 0.3) !important; }
  @media (min-width: 601px) and (max-width: 767px) {
    .Graph {
      margin: 20px 20px 0 10px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .Graph {
      margin: 20px 0 0 10px; } }
  @media (min-width: 1024px) {
    .Graph {
      margin: 40px 0 0 20px; } }
  .Graph graph-body {
    display: block;
    margin: 0 auto; }
