.Graph graph-body {
  width: 95vw;
  display: block;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .Graph graph-body {
      width: 80vw; } }
  @media (min-width: 1024px) {
    .Graph graph-body {
      width: 50vw; } }

.Graph .Graph_nav {
  margin-top: 20px; }
  .Graph .Graph_nav button span span {
    font-size: 1.4em; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .Graph .Graph_nav button span span {
        font-size: 1.8em; } }
    @media (min-width: 1024px) {
      .Graph .Graph_nav button span span {
        font-size: 2.2em; } }
