@import url("https://fonts.googleapis.com/css?family=Neucha");
.Event_Card {
  width: 85vw;
  margin: 20px auto;
  padding: 60px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .Event_Card {
      width: 50%;
      margin: 20px; } }
  @media (min-width: 1024px) {
    .Event_Card {
      width: 50%;
      margin: 20px; } }
  .Event_Card .Event_content {
    text-align: center; }
    .Event_Card .Event_content span {
      position: relative;
      left: 30%; }
    .Event_Card .Event_content h1 {
      margin-top: 0;
      color: #3F51B5;
      text-transform: uppercase;
      font-family: "Neucha", cursive; }
    .Event_Card .Event_content h3 {
      font-weight: lighter; }
