@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap");
.Event_Card {
  background-color: #f4f4f5; }
  .Event_Card .Event_content {
    text-align: center; }
    .Event_Card .Event_content span {
      position: relative;
      left: 30%; }
    .Event_Card .Event_content h1 {
      margin-top: 0;
      color: #3f51b5;
      text-transform: uppercase;
      font-family: "Reenie Beanie", cursive; }
    .Event_Card .Event_content h3 {
      font-weight: lighter; }
