@import "../../../sass/_media.scss";

.Event_Card{
    width: 85vw;
    margin: 20px auto;
    padding: 20px;
    @include tablet{
      width:50%;
      margin:20px;
    }
    @include desktop{
     width: 50%;
     margin:20px;
    }
}